@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

.app {
  font: var(--font-l);
  color: var(--primary-color);
  min-height: 100vh;
}

.content {
  display: flex;
}

.page-layout {
  padding: 20px;
  flex: 1;
  min-height: calc(100vh - var(--navbar-height));
  background: var(--bg-color);
}
